.profile{
    background-image: url('../../assets/paint2.svg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    &-flex{
display: flex;
justify-content: center;
align-items: center;
    }
}

