.matches{
    background-image: url('../../assets/background.png');
    background-repeat: repeat;
    height: 100%;
}

.title-flex{
    display: flex;
    justify-content: center;
}

.matches-image {
    height: 290px !important;
    object-fit: cover !important;
}

.ui.card:first-child {
    margin-top: 1em !important;
}

.ui.card:last-child {
    margin-bottom: 1em !important;
}

.matches-grid {
    justify-content: space-evenly;
}